### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
Player_no=purchase_data["SN"].nunique()
print(f"Players: {Player_no}")

Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purchase_data.head()
unique_items=purchase_data["Item Name"].nunique()
avg_price=purchase_data["Price"].mean()
purchase_number=purchase_data["Purchase ID"].count()
revenue=purchase_data["Price"].sum()
summary_df=pd.DataFrame({
    "Number of Unique Items":[unique_items],
    "Average Price":[avg_price],
    "Number of Purchases":[purchase_number],
    "Total Revenue":[revenue]})
summary_df["Average Price"]=summary_df["Average Price"].map("${:.2f}".format)
summary_df["Total Revenue"]=summary_df["Total Revenue"].map("${:,}".format)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
male_players=purchase_data.loc[purchase_data["Gender"]=="Male",:]["SN"].nunique()
female_players=purchase_data.loc[purchase_data["Gender"]=="Female",:]["SN"].nunique()
other_players=Player_no-male_players-female_players
summary_df=pd.DataFrame({
    "Percentage of Players":[male_players/Player_no*100,female_players/Player_no*100,other_players/Player_no*100],
    "Gender":["Male","Female","Other / Non-Disclosed"],
    "Total Count":[male_players,female_players,other_players]})
summary_df["Percentage of Players"]=summary_df["Percentage of Players"].map("{:.2f} %".format)
summary_df=summary_df.set_index("Gender")
summary_df

                      Percentage of Players  Total Count
Gender
Male                                84.03 %          484
Female                              14.06 %           81
Other / Non-Disclosed                1.91 %           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
f = {"Purchase ID":["count"],"Price":["mean","sum"]}
purchase_df=purchase_data.groupby("Gender").agg(f)
purchase_df.columns = ['Purchase Count', 'Average Purchase Price','Total Purchase Value']
purchase_df["Avg Purchase Total per Person"]=purchase_df["Total Purchase Value"]/summary_df["Total Count"]
format_mapping={'Average Purchase Price': '${:,.2f}', 'Total Purchase Value': '${:,.2f}', 'Avg Purchase Total per Person': '${:.2f}'}
for key, value in format_mapping.items():
    purchase_df[key] = purchase_df[key].apply(value.format)
purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_demographics=purchase_data
age_demographics["Age Range"]=pd.cut(age_demographics["Age"],age_bins,labels=group_names)
age_demographics=pd.DataFrame(age_demographics.groupby("Age Range")["SN"].nunique())
age_demographics["Percentage of Players"]=round((age_demographics["SN"]/Player_no)*100,2)
age_demographics=age_demographics.rename(columns={"SN":"Total Count"})
age_demographics

           Total Count  Percentage of Players
Age Range
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
age_purchase=purchase_data
age_purchase["Age Range"]=pd.cut(age_purchase["Age"],age_bins,labels=group_names)

f = {"Purchase ID":["count"],"Price":["mean","sum"]}
age_purchase=purchase_data.groupby("Age Range").agg(f)
age_purchase.columns = ['Purchase Count', 'Average Purchase Price','Total Purchase Value']
age_purchase["Avg Purchase Total per Person"]=age_purchase["Total Purchase Value"]/age_demographics["Total Count"]
format_mapping={'Average Purchase Price': '${:,.2f}', 'Total Purchase Value': '${:,.2f}', 'Avg Purchase Total per Person': '${:.2f}'}
for key, value in format_mapping.items():
    age_purchase[key] = age_purchase[key].apply(value.format)
age_purchase

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
top_spenders=purchase_data
f = {"Purchase ID":["count"],"Price":["mean","sum"]}
top_spenders=top_spenders.groupby("SN").agg(f)
top_spenders.columns = ['Purchase Count', 'Average Purchase Price','Total Purchase Value']
top_spenders=top_spenders.sort_values("Total Purchase Value",ascending=False)
top_spenders["Average Purchase Price"]=top_spenders["Average Purchase Price"].map("${:.2f}".format)
top_spenders["Total Purchase Value"]=top_spenders["Total Purchase Value"].map("${:.2f}".format)
top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
popular_items=purchase_data
f = {"Purchase ID":["count"],"Price":["mean","sum"]}
popular_items=popular_items.groupby(["Item ID","Item Name"]).agg(f)
popular_items.columns = ['Purchase Count', 'Purchase Price','Total Purchase Value']
profitable_items=popular_items
popular_items=popular_items.sort_values("Purchase Count",ascending=False)
popular_items["Purchase Price"]=popular_items["Purchase Price"].map("${:.2f}".format)
popular_items["Total Purchase Value"]=popular_items["Total Purchase Value"].map("${:.2f}".format)
popular_items.head()

,,Purchase Count,Purchase Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
profitable_items=profitable_items.sort_values("Total Purchase Value",ascending=False)
profitable_items["Purchase Price"]=profitable_items["Purchase Price"].map("${:.2f}".format)
profitable_items["Total Purchase Value"]=profitable_items["Total Purchase Value"].map("${:.2f}".format)
profitable_items.head()

,,Purchase Count,Purchase Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

-Obervable Trends

Male Players aged 20-24 consist of the largest part of the user base
The most profitable items are all over $4
Women on average spend more then men